/*Role Manager*/
#us_left{
    width:230px;
    height: 610px; 
    background-color: #4c4c50   ;
    float: left;
    display: block;
}
#us_right{
    width: 1210px;
    height: 610px; 
    float: left;
    display: block;
    
}
.create{
    width: 1110px;
    height: 610px; 
    background-color: #d6d6db;
}
table tr td{
    font-weight: bold;
}

.ui-outputlabel-rfi{
    color: red;
}
/*.ui-datatable .ui-widget{
    width:40px;
}*/
.ui-datatable .ui-column-filter{display: none;}

    
table tr td img {height: 150px; width: 200px;}