


div.headerContainer
{
/*  float:left;
  width:1001px;
  height:80px;*/
}
div.header-logoAdmin{
    /*background: url("../img/wynn-logo.png") no-repeat scroll left top transparent;*/
    background: url('./../../images/indexMasterPage/Wynn-logo-pass.gif') no-repeat scroll left top transparent;
    float: left;
    height: 80px;
    width: 140px;
    position:relative;
}
div.header-logo{
    /*background: url("../img/wynn-logo.png") no-repeat scroll left top transparent;*/
    background: url('./../../images/indexMasterPage/Wynn-logo-pass.gif') no-repeat scroll left top transparent;
    float: left;
    height: 80px;
    width: 140px;
    position:relative;
    animation:myfirst 5s;
    -moz-animation:myfirst 5s; /* Firefox */
   -webkit-animation:myfirst 5s; /* Safari and Chrome */
   -o-animation:myfirst 5s; /* Opera */
}
@keyframes myfirst
{
0%   {background: url('./../../images/indexMasterPage/contro.png'); left:0px; top:0px;}
25%  {background: url('./../../images/indexMasterPage/contro.png');border: 1px solid OrangeRed; left:450px; top:0px;}
50%  {background: url('./../../images/indexMasterPage/contro.png'); left:0px; top:0px;}
75%  {background: url('./../../images/indexMasterPage/contro.png'); left:870px; top:0px;}
100% {background: url('./../../images/indexMasterPage/contro.png'); left:0px; top:0px;}
}
@-moz-keyframes myfirst /* Firefox */
{
0%   {background: url('./../../images/indexMasterPage/contro.png'); left:0px; top:0px;}
25%  {background: url('./../../images/indexMasterPage/contro.png');border: 1px solid OrangeRed; left:450px; top:0px;}
50%  {background: url('./../../images/indexMasterPage/contro.png'); left:0px; top:0px;}
75%  {background: url('./../../images/indexMasterPage/contro.png'); left:870px; top:0px;}
100% {background: url('./../../images/indexMasterPage/contro.png'); left:0px; top:0px;}
}
@-webkit-keyframes myfirst /* Safari and Chrome */
{
0%   {background: url('./../../images/indexMasterPage/contro.png'); left:0px; top:0px;}
25%  {background: url('./../../images/indexMasterPage/contro.png');border: 1px solid OrangeRed; left:450px; top:0px;}
50%  {background: url('./../../images/indexMasterPage/contro.png'); left:0px; top:0px;}
75%  {background: url('./../../images/indexMasterPage/contro.png'); left:870px; top:0px;}
100% {background: url('./../../images/indexMasterPage/contro.png'); left:0px; top:0px;}
}
@-o-keyframes myfirst /* Opera */
{
0%   {background: url('../Images/IndexMasterPage/contro.png'); left:0px; top:0px;}
25%  {background: url('../Images/IndexMasterPage/contro.png');border: 1px solid OrangeRed; left:450px; top:0px;}
50%  {background: url('../Images/IndexMasterPage/contro.png'); left:0px; top:0px;}
75%  {background: url('../Images/IndexMasterPage/contro.png'); left:870px; top:0px;}
100% {background: url('../Images/IndexMasterPage/contro.png'); left:0px; top:0px;}
}

div.layout-header {
    float: left;
    height: 72px;
    width: 840px;
    margin: 0 0 0 20px;
}
ul.header-nav 
{
    float:left;
    height: 25px;
    margin-top: 30px; 
    padding-left:10px; 
    border-radius:10px;
    -moz-border-radius:5px 5px 5px 5px;
    -webkit-border-radius:5px 5px 5px 5px;
    -khtml-border-radius:5px 5px 5px 5px;
     border: 1px solid blue;
     width: 828px;
}

ul.header-nav li {
    display: inline;
    list-style-type: none;
    margin-left: 40px;
    font: normal 12px/15px AvenirLTStd35Light, Arial, Helvetica, sans-serif;
}

ul.header-nav li a 
{
    text-decoration:none;
    display: inline;
    list-style-type: none;
    font: normal 12px/15px AvenirLTStd85Heavy, Arial ,Helvetica, sans-serif;
    color:#95979a;
}

ul.header-nav li.header-selected-item a
{
   font: 12px/15px AvenirLTStd85Heavy,Arial,Helvetica,sans-serif !important;
   color:#FFF;
   font-weight:bold;
}

ul.header-nav li.header-home a
{
    color:#FFF;
    font-weight:bold;

}

ul.header-nav li.header-home a:hover
{
    color:#95979a !important;

}

ul.header-nav li a:hover
{
    font: normal 12px/15px AvenirLTStd85Heavy,Arial,Helvetica,sans-serif !important;
	color:#FFFFFF

}


#logo	{
    float: left;
    margin: 45px 0 0 15px;
}
#logo	a	{
    display: block;
}