/*Role Manager*/
#us_left{
    width:230px;
    height: 610px; 
    background-color: #4c4c50   ;
    float: left;
    display: block;
}
#us_right{
    width: 1110px;
    height: 610px; 
    background-color: #d6d6db;
    float: left;
    display: block;
    
}
table tr td{
    font-weight: bold;
}
.ui-outputlabel-rfi{
    color: red;
}