
.body_foods
{
  width: 800px;
  float: right;
  height: auto;
  background-color: #818181;
}
.title_foods_menu
{
  float: left;
  margin:10px 0px 0px 50px;
  width: 680px;
  height: 20px;
  border-bottom: 1px solid;
  padding-left: 20px;
  color:white;
  font-weight: bold;
  vertical-align: text-bottom;
  font-size: 20px;
}
.list_foods
{
  float: left;
  width: 760px;
  margin: 10px 0px 0px 20px;
  background-color: #ece3a5;
  
}
.view_cart
{
    float: right;
    width: 400px;
    height: auto;
    text-align: right;
    margin:10px 30px 0px 0px;
}