
.body_contact
{
    float: right;
    width: 800px;
    min-height: 540px;
    background-color:#818181;
    
}
.left_contact
{
    float: left;
    width: 400px;
    min-height: 540px;
    
}
.right_contact
{
    float: right;
    width: 400px;
    min-height: 540px;
}
.title_contact
{
   width:380px;
   height: 20px;
   float: left;
   margin:30px 0px 0px 15px;
   font-size: 20px;
   font-weight: bold;
   border-bottom: 1px solid;
}
.stc1
{
  width: 110px;
  width: auto;
  text-align: right;
}
.stc2
{
  width: 290px;
  width: auto;    
}
.stc3
{
  width: 110px;
  width: auto;
  text-align: right;
}
.stc4
{
  width: 290px;
  width: auto;    
}
.txta_contact
{
 width: 252px;
 height: 80px;
 display: block;
 border-radius: 3px;
}
.txta_contact:hover
{
    border:2px solid #49A1DD;
    width: 250px;
    height: 78px;
    display: block;
    border-radius: 3px;
}
.submit_contact
{
    width:100px;
    height: 40px;
    float: left;
    margin: 20px 0px 0px 290px;
    
}
.title_map
{
 float: left;
 height: 20px;
 width: 300px;
 margin: 30px 0px 0px 50px;
 text-align:center;
 font-size: 20px;
 font-weight: bold;
}
.map
{
    width:350px;
    height: 300px;
    float: left;
    margin: 0px 0px 0px 23px;
    display: block;   
    border: 2px solid #49A1DD;
}
.about_map
{
  width: 340px;
  float: left;
  height: 80px;
  margin: 0px 0px 0px 30px;
  font-size: 11px;
  font-style: italic;
}
#validation_con{
    float: left;
    width: 260px;
    margin-top:1px;
}