
body {
    height:100%;
    background-color: #000;
    color: #fff;
    font-size: 14px;
    font-family:Arial Black;
    margin: 0;
    padding: 0;
}

.page
{
    width: 1000px;
    height:664px !important;
    background-color:#000;
    border:2px solid #F9F9ED;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}
/* header */

.header {
    height:86px;
    margin:10px 0 0 0;
    position:relative;
    font-size: 11px;
}
.header a {
    color: #FFFFFF;
    font-weight: bold;
    line-height: 17px;
    text-decoration: none;
}
.linkBar 
{
    display:block;
    color:#FFF;
    font-size:12px;
    width:150px;
    float:right;
    margin:0.5em 18px 0 0;
   
    text-align:right;
}
.header .languageBar {
    float: left;
    color: #ffffff;
    margin: 0.8em 0 0 22px;
    _margin: 0.8em 0 0 11px;
}
.header h1 {
    background:transparent url('../Images/wynn_logo_blackBG.png') no-repeat scroll left top;
	height:80px;
    margin: 0 0 0 20px;
	width:163px;
    float: left;
}
.float-left
{
	float:left;
}
.siteHeader {
    font-family: AvenirLTStd95Black,Arial,Tahoma,Sans-serif;
    font-size: 30px;
    margin: 14px 0 0 30px;
}
.wynnNavigation
{
    background-color: #525252;
    color: #FFFFFF;
    height: 28px;
    margin: 0 auto;
    width: 960px;
}

.arrow-down
{
    background: url(Images/nav_drop_button.gif);
}
/*Room master */
#welcomeMemberContainer
{
    height: 28px;
    width:300px;
    overflow: hidden;
    float: right;
    margin: 0 0 0 0;
}
.wynnNavigation span a, .wynnNavigation span a:visited
{
    color: #fff;
    font-family:Arial;
}
.wynnNavigation ul
{
    margin: 0 0 0 10px;
    list-style: none;
    height: 25px;
    float: left;
}
.wynnNavigation ul li
{
    float: left;
    white-space: nowrap;
    margin: 0px;
    height: 28px;
    line-height: 2.1em;
    padding: 0 8px 0 5px;
    cursor: default;
}
.wynnNavigation ul li.current
{
    background-color:#000000;
}
.wynnNavigation ul li a:hover
{
    text-decoration: none;
}
.wynnNavigation ul li a.pointer:hover{
    text-decoration: underline !important;
}
.wynnNavigation ul li a, .wynnNavigation ul li {
    color: #fff;
    height: 27px;
    font-family:Arial;
    text-decoration: none !important;
    cursor: default;
    font-weight: bold;
    
}
/* wynn Main */
.wynnMain {
    height:500px;
    width:960px;
    overflow:hidden;
    margin: 0 auto;
    background-color:Lavender;
}

/* copyright */
.roomReservationChatImageAlign{
   float:left;
   width:30px;
   height:28px;
 
   
}
.wynnCopyright {
    background-color:#525252;
    color:#FFF;
    font-size:12px;
    height:28px;
    line-height:2.5em;
    text-indent:0.5em;
    overflow:hidden;
    width:960px;
    display:block;
    float:left;
    margin-left:20px;
    font-family:Arial;
}
.chatContact
{
   width:960px; 
   height:28px;
}
.coppy
{
  margin-left:350px;
  color: White   
}

