
.body_restaurants
{
    width: 1344px;
    min-height: 540px;
  
}
.left_restaurants
{
    float: left;
    width: 200px;
    height:640px; 
    background-color: #555555;
    border-right: 0.5px solid #cbcbcb;
}
.right_restaurants
{
  width: 1000px;
  float: right;
  height: 540px;
  background-color: #E6E6FA;
}

